.search {
    display: flex;
    justify-content: center;
}

.search__input {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    outline: none;
    padding: 14px 24px;
    margin-right: 10px;
}

.search__submitButton {
    font-family: 'Roboto', sans-serif;
    background: #E75640;
    color: white;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    outline: none;
    padding: 14px 24px;
}